    body{
        font-family: Verdana, Arial;
        font-size: 22px;
        background-color: #ffffcc;
    }

    a {
        text-decoration: none;
        color: #FF0000;
    }

    .topDown,.scroll-to-bottom {
        background-color: #ffffccc8;    
        position: fixed;
        bottom: 20px;
        z-index: 9999;
        }

        .tamaño {
            position: fixed; 
            right: -0;
            margin-top: -40px;
        }

        .TamSelect{
            color:#FF0000;
            border: none;
            background-color:#ffffccc8;
        }

        .TamSelect2 {
        margin-top: 0;
        color: red;
        }

        .coloropc {
            color: black;
        }

        .coloropc:hover {
            background-color: black;
        }

        .titulo {
            color: red;
            font-weight: bold;
        }

        .subtitulo {
            color: red;
        }

        
        .stItaly {
            color: red;
            font-style: italic;
            font-size: 18px;
        }

        .stcomment {
            font-style: italic;
            color: red;
            font-size: 18px;
        }

        /* display y color rojo = drojo*/
        .drojo {
            color: red;
            display: inline;
        }

        .psubt {
            display: inline;
        }

        .sMplayer {
            color: red;
            font-size: 15px;
        }

    